/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    /* Reset da Pagina */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /*Preenchimento da tela toda*/
    box-sizing: border-box; /*Controle para conteudo Filho nao ultrapassar o tamanho do Pai*/
    background-color: #000000;
    color: #ffffff;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    margin: 10% 19%; /*Margem da pagina vertical e Horizontal*/
    display: flex;
    align-items: center; /*Alinhamento de elementos*/
    justify-content: space-between; /*Espaçamento entre elementos*/
}

.apresentacao__conteudo{
    width: 615px; /*Largura conteudo*/
    display: flex;
    flex-direction: column;
    gap: 40px; /*Espassamento do flexbox*/
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo__links__link{
    background-color: #22D4FD;
    width: 280px;
    text-align: center; /*Alinhamento do texto*/
    border-radius: 16px; /*Borda de arredondamento*/
    font-size: 24px;
    padding: 21.5px 0; /*Borda Vertical e Horizontal*/
    text-decoration: none; /*Sem decoração no link*/
    color:#000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /*Espessura da fonte*/
}